<div class="callout">

</div>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters"  *ngFor="let items of appList;let i =index" >
      <div class="col-md-4">
        <img [src]="items.imageUrl"  class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body"  >
          <h5 class="card-title">{{items.name}}</h5>
          <p class="card-text">{{items.snippet}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>