.body {
    margin: 0;
    font: 100% / 1.5 Inconsolata, monospace;
    color: hsl(227, 24%, 46%);
    background-color: hsl(230, 40%, 10%);
  }
  
  h2 {
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
  }
  
  .bg {
    margin: 2rem auto 4rem;
    width: 90%;
    max-width: 70rem;
  }
  
  p {
    font-size: 1.25rem;
    max-width: 75ch;
  }
  .bg-img {
    /* The image used */
    background-image: url("bg.jpg");
  
    min-height: 730px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
