<div class="bg-img">
 <div class="container"> 
  <div class="bdy">
 <div class="bg"> 
      <h2>City Night</h2>
      <p> "You make a choice: continue living your life feeling muddled in this abyss of self-misunderstanding, or you find your identity independent of it. You draw your own box."</p>
      <p> "At the end of the day, whether or not those people are comfortable with how you're living your life doesn't matter. What matters is whether you're comfortable with it."</p>
      <p>  "You don't always need a plan. Sometimes you just need to breathe, trust, let go and see what happens."</p>
 </div>
</div>
<button type="button" class="btn btn-outline-primary float-right"  (click)="takeTOCurious()"
  >  CURIOUS ABOUT TECHNOLOGY </button>
 </div>
 </div>